task-8/src/main/resources/shema/event.dtd

<!ELEMENT event (heading+, external-link, doc-level+)>
    <!ELEMENT heading (#PCDATA)>
    <!ELEMENT external-link (#PCDATA)>
    <!ELEMENT doc-level (doc-level*, para, h1?)>
    <!ELEMENT h1 (#PCDATA)>
    <!ELEMENT para (#PCDATA|date|num|list-item)*>
        <!ELEMENT date (#PCDATA)>
        <!ELEMENT num (#PCDATA)>
        <!ELEMENT list-item (#PCDATA|para)*>


